



{% extends 'base/base.html' %}

{% block title %}IndexViews{% endblock title %}

{% block content %}
<div>
   <h1> BIENVENIDO A LA PAGINA NO OFICIAL DE LA <Strong>NFL</Strong></h1> 
</div>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img alt="" draggable="false" src="https://static.www.nfl.com/image/upload/f_auto,q_auto/league/wuwzg0nnj6sxm8icpzx7" class="img-responsive imagen2">
      </div>
      <div class="carousel-item">
        <img alt="" draggable="false" src="https://static.www.nfl.com/image/upload/f_auto,q_auto/league/wuwzg0nnj6sxm8icpzx7" class="img-reponsive imagen2">
      </div>
      <div class="carousel-item">
        <img alt="" draggable="false" src="https://static.www.nfl.com/image/upload/f_auto,q_auto/league/wuwzg0nnj6sxm8icpzx7" class="img-reponsive imagen2">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock content %}

 