<div class="page-header" filter-color="orange">
  <div
    class="page-header-image"
    style="background-image: url(assets/img/login.jpg)"
  ></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <form class="form" method="" action="">
          <div class="header header-primary text-center"></div>
          <div cass="content">
            <div class="content-center btn-block">
              <div class="divTabla">
                <table style="width: 100%">
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Permiso</th>
                    <th>Puesto</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                  </tr>

                  <tr *ngFor="let empleado of DatosEmpleado">
                    <td>{{ empleado.id }}</td>
                    <td>{{ empleado.nombrep }}</td>
                    <td>{{ empleado.apellidop }}</td>
                    <td>{{ empleado.apellidom }}</td>
                    <td>{{ empleado.permiso }}</td>
                    <td>{{ empleado.puesto }}</td>
                    <td>{{ empleado.departamento }}</td>

                    <td>
                      <button
                        type="button"
                        name="button"
                        class="close"
                        (click)="
                          openModalActualizar(
                            classic,
                            empleado.id,
                            empleado.nombrep,
                            empleado.apellidop,
                            empleado.apellidom,
                            empleado.password,
                            empleado.Permiso,
                            empleado.Puesto,
                            empleado.Departetamento
                          )
                        "
                      >
                        <span aria-hidden="true">
                          <i
                            class="now-ui-icons ui-2_settings-90"
                            ngbtooltip="Editar"
                          ></i>
                        </span>
                      </button>
                    </td>
                    <td>
                      <button
                        type="button"
                        name="button"
                        class="close"
                        (click)="
                          openModalDeshabilitar(classic,
                            empleado.id,
                            empleado.nombre,
                            empleado.apelidop,
                            empleado.apellidom,
                            empleado.permiso,
                            empleado.puesto,
                            empleado.departetamento
                          )
                        "
                      >
                        <span aria-hidden="true">
                          <i class="now-ui-icons ui-1_simple-remove"></i>
                        </span>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary btn-round btn-lg btn-block"
            (click)="openModal(classic)"
          >
            Crear empleado
          </button>
        </form>
      </div>
    </div>

    <ng-template #classic let-c="close" let-d="dismiss">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 *ngIf="tituloModal == true" class="title title-up">
          Agregar Empleado
        </h4>
        <h4 *ngIf="tituloModalActualizar == true" class="title title-up">
          Actualizar Empleado
        </h4>
        <h4 *ngIf="tituloModalDeshabilitar == true" class="title title-up">
          Deshabilitar Empleado
        </h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons business_bank"></i
                  ></span>
                </div>
                <input
                  type="text"
                  id="input_nombre"
                  [(ngModel)]="input_nombre"
                  class="form-control"
                  placeholder="Nombre"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons business_bank"></i
                  ></span>
                </div>
                <input
                  type="text"
                  id="input_nombre"
                  [(ngModel)]="input_apellidop"
                  class="form-control"
                  placeholder="Apellido Paterno"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons business_bank"></i
                  ></span>
                </div>
                <input
                  type="text"
                  id="input_nombre"
                  [(ngModel)]="input_apellidom"
                  class="form-control"
                  placeholder="Apellido Materno"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons business_bank"></i
                  ></span>
                </div>
                <input
                  type="text"
                  id="input_nombre"
                  [(ngModel)]="input_password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <select [(ngModel)]="opcionSeleccionadoPermiso" class="form-control" required>
                    <option value="0" disabled>
                        Selecciona una opción de <strong>Permiso</strong>
                    </option>
                    <option *ngFor="let perm of DatosPermiso " value="{{perm.id}}">
                        {{ perm.nombre }}
                </select>
            </div> 
            <div class="col-md-6">
                <select [(ngModel)]="opcionSeleccionadoPuesto" class="form-control" required>
                    <option value="0" disabled>
                        Selecciona una opción de <strong>Puesto</strong>
                    </option>
                    <option *ngFor="let pues of DatosPuesto" value="{{pues.id}}">
                        {{ pues.nombre }}
                </select>
            </div>     
          </div>
          <div class="row">
            <select [(ngModel)]="opcionSeleccionadoDepartamento" class="form-control" required>
                <option value="0" disabled>
                    Selecciona una opción de <strong>Departamento</strong>
                </option>
                <option *ngFor="let dept of DatosDepartamento" value="{{dept.id}}">
                    {{ dept.nombre }}
            </select>
          </div>
        </div>

        <!-- <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            One of three columns
                        </div> 
                        <div class="col-md-6">
                            <select [(ngModel)]="opcionSeleccionado" class="form-control" required>
                                <option value="0" disabled>
                                    Selecciona una opción
                                </option>
                                <option *ngFor="let dept of datosDepartamento" value="{{dept.id}}">
                                    {{ dept.nombre }}
                            </select>
                        </div>
                    </div>
                 </div> -->

        <button
          *ngIf="btnGuardar == true"
          class="btn btn-primary btn-round btn-lg btn-block"
          (click)="guardarEmpleado()"
        >
          Guardar
        </button>
        <button
          *ngIf="btnActualizar == true"
          class="btn btn-primary btn-round btn-lg btn-block"
          (click)="actualizarEmpleado()"
        >
          Actualizar
        </button>
        <button
          *ngIf="btnDeshabilitar == true"
          class="btn btn-primary btn-round btn-lg btn-block"
          (click)="deshabilitarEmpleado()"
        >
          Deshabilitar
        </button>

        <div *ngFor="let alert of alertsExitoso">
          <ngb-alert
            [type]="alert.type"
            *ngIf="alertaExitoso"
            [dismissible]="false"
            id
          >
            <div class="container">
              <div class="alert-wrapper">
                <button
                  type="button"
                  name="button"
                  class="close"
                  (click)="closeAlertExitoso(alert)"
                >
                  <span aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </span>
                </button>
                <div class="message">
                  <ng-container *ngIf="alert.icon">
                    <div class="alert-icon">
                      <i class="now-ui-icons {{ alert.icon }}"></i>
                    </div>
                  </ng-container>
                  <strong>{{ alert.strong }} </strong>{{ alert.message }}
                </div>
              </div>
            </div>
          </ngb-alert>
        </div>
        <div *ngFor="let alert of alertsError">
          <ngb-alert
            [type]="alert.type"
            *ngIf="alertaError"
            [dismissible]="false"
            id
          >
            <div class="container">
              <div class="alert-wrapper">
                <button
                  type="button"
                  name="button"
                  class="close"
                  (click)="closeAlertError(alert)"
                >
                  <span aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </span>
                </button>
                <div class="message">
                  <ng-container *ngIf="alert.icon">
                    <div class="alert-icon">
                      <i class="now-ui-icons {{ alert.icon }}"></i>
                    </div>
                  </ng-container>
                  <strong>{{ alert.strong }} </strong>{{ alert.message }}
                </div>
              </div>
            </div>
          </ngb-alert>
        </div>
      </div>
      <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default">Nice Button</button>
                <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
            </div> -->
    </ng-template>
  </div>

  <footer class="footer">
    <!-- <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div> -->
  </footer>
</div>
<p>empleado works!</p>
