{% extends "base/base.html" %}

{% block title %}
  LIST EQUIPOS VIEW
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Fundación</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for equipo in object_list %}
                <tr>
                    <td>{{ equipo.id }}</td>
                    <td>{{ equipo.nombre }}</td>
                    <td>{{ equipo.ciudad }}</td>
                    <td>{{ equipo.fundacion }}</td>
                    <td><a href="{% url 'nfl:detail_equipo' equipo.id %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'nfl:update_equipo' equipo.id %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'nfl:delete_equipo' equipo.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nfl:create_equipo' %}" class="btn btn-outline-success">Agregar Equipo</a>
{% endblock content %}
