{% extends "base/base.html" %}

{% block title %}
  DETAIL PROFILE VIEW
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ request.user  }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the Bio for {{ request.user }}.</strong><hr> <br>
           {{ profile.bio }}
        </div>
        
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Date Data
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the timestamp for user: {{ profile.name }}. </strong> <br>
          
          The status for the {{ profile.name }} is: {{ profile.status }}
          <br>
    
          <a href="{% url 'home:update_profile' request.user.id %}">Update Profile</a> 
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}