{% extends "base/base.html" %}

{% block title %}
  SIGNUP VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-outline-success form-control">SignUp</button>
            <a href="{% url 'home:login' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}