

{% extends "base/base.html" %}

{% block title %}
  UPDATE PROFILE VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-outline-primary">Update Profile</button>
            <!-- <a href="{% url 'home:index' %}" class="btn btn-outline-warning">Cancel</a> -->
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}