{% extends "base/base.html" %}

{% block title %}
  DELETE PLAYER VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h2>¿Realmente deseas eliminar el jugador: {{ jugador.nombre }}?</h2>
        <a href="{% url 'nfl:list_jugadores' %}" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete Player</button>
    </form>
{% endblock content %}