{% extends "base/base.html" %}

{% block title %}
DELETE GRANT GOAL
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h2>Realmente deseas eliminar ese grantgoal: {{ object.grantgoal_name}}?</h2>
        <a href="{% url 'core:list_grantgoal' %}" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete GrantGoal</button>
     </form>
{% endblock content %}



