{% extends "base/base.html" %}

{% block title %}
  LIST GRANT GOAL VIEW
{% endblock title %}

{% block content %}
<a class="btn btn-success form-control" href="{% url 'core:create_grantgoal' %}">CREATE NEW</a>
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>Ciudad</th>
            <th>TIMESTAMP</th>
            <th>FINAL DATE</th>
            <th>STATUS</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for gg in object_list %}
                <tr>
                    <td>{{ gg.id }}</td>
                    <td>{{ gg.grantgoal_name }}</td>
                    <td>{{ gg.timestamp }}</td>
                    <td>{{ gg.final_date }}</td>
                    <td>{{ gg.status }}</td>
                    <td><a href="{% url 'core:detail_grantgoal' gg.id %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'core:update_grantgoal' gg.id %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_grantgoal' gg.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
