<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
  <div class="container">
      <div class="col-md-4 content-center">
          <div class="card card-login card-plain">
              <form class="form" method="" action="">
                  <div class="header header-primary text-center">
                  </div>
                  <div cass="content">

                      <div class="content-center btn-block">
                          <div class="divTabla">
                              <table style=" width: 100%;">
                                  <tr>
                                      <th>ID</th>
                                      <th>Nombre</th>
                                      <th>Descripcion</th>
                                      <th></th>
                                      <th>Gestionar</th>
                                      <th></th>
                                  </tr>

                                  <tr *ngFor="let puesto of DatosPuesto">
                                      <td>{{puesto.id}}</td>
                                      <td>{{puesto.nombre}}</td>
                                      <td>{{puesto.descripcion}}</td>

                                      <td>
                                          <button type="button" name="button" class="close"
                                              (click)="openModalActualizar(classic, puesto.id, puesto.nombre, puesto.descripcion)">
                                              <span aria-hidden="true">
                                                  <i class="now-ui-icons ui-2_settings-90" ngbtooltip="Editar"></i>
                                              </span>
                                          </button>
                                      </td>
                                      <td>
                                          <button type="button" name="button" class="close"
                                              (click)="openModalDeshabilitar(classic, puesto.id, puesto.nombre, puesto.descripcion)">
                                              <span aria-hidden="true">
                                                  <i class="now-ui-icons ui-1_simple-remove"></i>
                                              </span>
                                          </button>
                                      </td>
                                  </tr>

                              </table>
                          </div>
                      </div>
                  </div>
                  <button class="btn btn-primary btn-round btn-lg btn-block" (click)="openModal(classic)">
                      Crear Puesto
                  </button>
              </form>
          </div>
      </div>

      <ng-template #classic let-c="close" let-d="dismiss">
          <div class="modal-header justify-content-center">
              <button type="button" class="close" (click)="d('Cross click')">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
              <h4 *ngIf="tituloModal == true" class="title title-up">Agregar Puesto</h4>
              <h4 *ngIf="tituloModalActualizar == true" class="title title-up">Actualizar Puesto</h4>
              <h4 *ngIf="tituloModalDeshabilitar == true" class="title title-up">Deshabilitar Puesto</h4>


          </div>
          <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group form-group-no-border input-lg">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="now-ui-icons business_bank"></i></span>
                      </div>
                      <input type="text" id="input_nombre" [(ngModel)]="input_nombre" class="form-control"
                          placeholder="Nombre">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group form-group-no-border input-lg">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="now-ui-icons business_bank"></i></span>
                      </div>
                      <input type="text" id="input_nombre" [(ngModel)]="input_codigo" class="form-control"
                          placeholder="Codigo">
                      </div>
                  </div>
                  
                </div>
              </div>

              <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="now-ui-icons files_paper"></i></span>
                  </div>
                  <input type="text" id="input_descripcion" [(ngModel)]="input_descripcion" placeholder="Descripcion"
                      class="form-control" />
              </div>

              <!-- <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          One of three columns
                      </div> 
                      <div class="col-md-6">
                          <select [(ngModel)]="opcionSeleccionado" class="form-control" required>
                              <option value="0" disabled>
                                  Selecciona una opción
                              </option>
                              <option *ngFor="let dept of datosDepartamento" value="{{dept.id}}">
                                  {{ dept.nombre }}
                          </select>
                      </div>
                  </div>
               </div> -->

              <button *ngIf="btnGuardar == true" class="btn btn-primary btn-round btn-lg btn-block" (click)="guardarPuesto()">
                  Guardar
              </button>
              <button *ngIf="btnActualizar == true " class="btn btn-primary btn-round btn-lg btn-block" (click)="actualizarPuesto()">
                  Actualizar
              </button>
              <button *ngIf="btnDeshabilitar == true " class="btn btn-primary btn-round btn-lg btn-block" (click)="deshabilitarPuesto()">
                  Deshabilitar  
              </button>

              <div *ngFor="let alert of alertsExitoso">
                  <ngb-alert [type]="alert.type" *ngIf="alertaExitoso" [dismissible]="false" id>
                      <div class="container">
                          <div class="alert-wrapper">
                              <button type="button" name="button" class="close" (click)="closeAlertExitoso(alert)">
                                  <span aria-hidden="true">
                                      <i class="now-ui-icons ui-1_simple-remove"></i>
                                  </span>
                              </button>
                              <div class="message">
                                  <ng-container *ngIf="alert.icon">
                                      <div class="alert-icon">
                                          <i class="now-ui-icons {{alert.icon}}"></i>
                                      </div>
                                  </ng-container>
                                  <strong>{{alert.strong}} </strong>{{ alert.message }}
                              </div>
                          </div>
                      </div>
                  </ngb-alert>
              </div>
              <div *ngFor="let alert of alertsError">
                  <ngb-alert [type]="alert.type" *ngIf="alertaError" [dismissible]="false" id>
                      <div class="container">
                          <div class="alert-wrapper">
                              <button type="button" name="button" class="close" (click)="closeAlertError(alert)">
                                  <span aria-hidden="true">
                                      <i class="now-ui-icons ui-1_simple-remove"></i>
                                  </span>
                              </button>
                              <div class="message">
                                  <ng-container *ngIf="alert.icon">
                                      <div class="alert-icon">
                                          <i class="now-ui-icons {{alert.icon}}"></i>
                                      </div>
                                  </ng-container>
                                  <strong>{{alert.strong}} </strong>{{ alert.message }}
                              </div>
                          </div>
                      </div>
                  </ngb-alert>
              </div>


          </div>
          <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default">Nice Button</button>
              <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
          </div> -->
      </ng-template>


  </div>

  <footer class="footer">
      <!-- <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div> -->


  </footer>
</div>
